extends layout

block content
	h1= title
	ul
		li
			a(href="http://cwbuecheler.com/web/tutorials/2013/node-express-mongo/") 	Tutorial 1
		li
			a(href="http://cwbuecheler.com/web/tutorials/2014/restful-web-app-node-express-mongodb/") Tutorial 2
		li
			a(href="http://webapplog.com/todo-app-with-express-jsnode-js-and-mongodb/") Good one
		hr
		li
			a(href="/tasks/") /tasks/ listing
	h2 Tasks List
	#taskList
		table
			thead
				th Title
				th Deadline
				th Location
				th Done
				th ID
				th Delete?
			tbody
			
	h2 Edit Task
	#editTask
		fieldset
			span#updateTaskId
			input#updateTaskTitle(type='text', placeholder='Title')
			input#updateTaskDeadline(type='text', placeholder='Deadline')
			input#updateTaskLocation(type='text', placeholder='Location')
			input#updateTaskDone(type='checkbox')
			br
			button#btnEditTask Update Task
		
	h2 Add Task
	#addTask
		fieldset
			input#inputTaskTitle(type='text', placeholder='Title')
			input#inputTaskDeadline(type='text', placeholder='Deadline')
			input#inputTaskLocation(type='text', placeholder='Location')
			br
			button#btnAddTask Add Task