<div id="todoWrapper">
	<h2>You have 
	<span ng-show="tasks.length>0">{{(tasks | filter:{done:false}).length}}/{{tasks.length}}  unfinished tasks</span>
	<span ng-show="tasks.length==0"> no tasks</span>
	</h2>
	<div  class="form-inline">
	<ul class="list-group">
		<li ng-repeat="task in tasks | orderBy:'done'" class="list-group-item {{task.done | checked}}">
			<span class="checkbox">
				<input type="checkbox" ng-model="task.done"/>
				<a href="#/task/{{task.id}}">{{task.title}}</a>
			</span>
			<span class="btn btn-danger btn-xs glyphicon glyphicon-remove pull-right" ng-click="todoRemove(item)"></span>
		</li>
	</ul>

	<!-- <input type="text" class="form-control" placeholder="I want to..." ng-model="todoText" /> -->
	<button class="btn btn-success" ng-click="todoAdd()">Add</button>
	<button class="btn btn-danger pull-right {{ (tasks | filter:{done:true}) | empty}}" ng-click="removeChecked()">Remove checked</button>
	</div>

</div>