span.checkbox(title='{{task}}')
	input(type='checkbox', ng-model='task.done', ng-change='toggleDone(task._id)')
	a(ng-href='/todo/{{task._id}}') {{task.title}}
span.btn.btn-danger.btn-xs.glyphicon.glyphicon-remove.pull-right(ng-click='todoRemove(task._id, $index)')